# folders and files
/vendor
/bin
/runtime
/luya
composer.phar
.DS_Store
.env
/docker/.env
/.env

# project config
/configs/env-local-db.php
/configs/env.php

# Unglue
/resources/dist/main.css
/resources/dist/main.js

#IDE: netbeans
/nbproject

#IDE: PHPStorm
.idea/

#IDE: eclipse
.buildpath
.project
.settings
